@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxjb2RlfGVufDB8MHx8fDE2OTQwOTg0MTZ8MA&ixlib=rb-4.0.3&q=80&w=1080");
 background-color: transparent;
 background-repeat: no-repeat;
 background-position: center;
 object-fit: contain;
 background-size: cover;
 background-color: aqua;
 position: relative;
 
}
.overlay{
    position: absolute;
    inset: 0;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  

}
.hero-content{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: #ffffff;
    background: black;
    flex-direction: column;
   
}
.hero-content h1{
    font-family: "Monoton", sans-serif;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
}
.hero-content h3{
    font-family: sans-serif;
    font-size: 2em;
 color: #ffffff;

}
.get-started{
    padding: 1em 4em;
   background: #fff;
   color: #000;
   margin-top: 2rem;
   border-radius: 10px;
   font-weight: 600;
   cursor: pointer;

}

@media screen and (max-width: 800px) {
   .hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    text-align: center;
   }
}
button[type="submit"]{
    background: black;
    cursor: pointer;
}

